@model IEnumerable<ERP_ZTI.Models.Products>
@{
    ViewBag.Title = "eERP - Storage";
}

<h2>Storage</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaceX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaceY)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceY)
            </td>
            <td>
                @Html.ActionLink("Change place of product", "Change", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>