@model IEnumerable<ERP_ZTI.Models.Sales>
@{
    ViewBag.Title = "eERP - Sales";
}

<h3>@Html.ActionLink("Go to customers list","Customers", "Sales")</h3>

<h2>Sales:</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Customer @Html.DisplayNameFor(model => model.Customers.Name)
        </th>
        <th>
            Product @Html.DisplayNameFor(model => model.Products.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SalesId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SalesId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SalesId })
            </td>
        </tr>
    }

</table>
